<main class="row" id="registroEmpleado">

    <section class="col-md-8">
        <div class="mt-3 mb-0">
            <div class="col-md-12 mb-5">
                <h1 id="tituloPrincipal" class="text-center mt-1">Registro</h1>
                <p class="text-muted text-center texto-descripcion">Ingrese los datos solicitados para registrar un empleado dentro de la plataforma.</p>
            </div>
        </div>
        <div class="container-fluid">
            <form name="frmRegistroEmpleados" ng-submit="vm.preregistrarEmpleado(vm.nuevoEmpleado)" novalidate autocomplete="off">
                <div class="row">

                    <div class="form-group col-md-6">
                        <label for="txtCedula">Número de cédula:</label>
                        <input type="number" class="form-control" id="txtCedula" name="campoCedula" required ng-model="vm.nuevoEmpleado.cedula" required>
                        <div ng-messages="frmRegistroEmpleados.campoCedula.$error" role="alert">
                            <div ng-message="required">
                                <small class="form-text text-info">Este campo es requerido</small>
                            </div>
                            <div ng-message="pattern">
                                <small class="form-text text-muted">Formato incorrecto</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="txtNombre">Nombre copleto:</label>
                        <input type="text" class="form-control" id="txtNombre" name="campoNombre" required pattern="[ñáéíóúA-Za-z ]+" ng-model="vm.nuevoEmpleado.nombre"
                            required>
                        <div ng-messages="frmRegistroEmpleados.campoNombre.$error" role="alert">
                            <div ng-message="required">
                                <small class="form-text text-info">Este campo es requerido</small>
                            </div>
                            <div ng-message="pattern">
                                <small class="form-text text-muted">Formato incorrecto</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="filePhoto">Subir fotografía</label>
                        <input type="file" class="form-control-file" required id="filePhoto" files-input ng-model="vm.nuevoEmpleado.foto">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtFechaNacimiento">Fecha de nacimiento:</label>
                        <input type="date" class="form-control" min="2000-01-02" id="txtFechaNacimiento" name="campoFechaNacimiento" required ng-model="vm.nuevoEmpleado.fecha"
                            required>
                        <div ng-messages="frmRegistroEmpleados.campoFechaNacimiento.$error" role="alert">
                            <div ng-message="required">
                                <small class="form-text text-info">Este campo es requerido</small>
                            </div>
                            <div ng-message="pattern">
                                <small class="form-text text-muted">Formato incorrecto</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-md-6">
                        <label for="txtEmail">Correo electrónico:</label>
                        <input type="email" class="form-control" id="txtEmail" name="campoCorreo" required ng-model="vm.nuevoEmpleado.correo" required>
                        <div ng-messages="frmRegistroEmpleados.campoCorreo.$error" role="alert">
                            <div ng-message="required">
                                <small class="form-text text-info">Este campo es requerido</small>
                            </div>
                            <div ng-message="pattern">
                                <small class="form-text text-muted">Formato incorrecto</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtEmail">Contraseña:</label>
                        <input type="password" class="form-control" id="txtPassword" name="campoContrasenna" required ng-model="vm.nuevoEmpleado.contrasenna"
                            required>
                        <div ng-messages="frmRegistroEmpleados.campoCorreo.$error" role="alert">
                            <div ng-message="required">
                                <small class="form-text text-info">Este campo es requerido</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mx-auto col-md-3 mt-3">
                        <button type="submit" class="btn btn-warning">Registrar Empleado</button>
                    </div>
                </div>
        </div>
        </form>
        </div>

    </section>
</main>