<section>
        <div class="mt-5 mb-0">
            <div class="col-md-12 mb-5">
                <h1 id="tituloPrincipal" class="mt-1">Lista de tareas</h1>
                <p class="texto-muted">Lista de tareas existentes</p>
                <label for="txtBuscar">Filtrar por proyecto</label>
                <div class = "col-md-4">
                <input type="text" id="txtBuscar" class="form-control" ng-model="buscarTarea.idProyecto">
                    </div>
                    <label for="txtBuscar">Filtrar por fecha</label>
                    <div class = "col-md-4">
                    <input type="text" id="txtBuscar" class="form-control" ng-model="buscarTarea.fechaAsignacion">
                        </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Fecha de asignación</th>
                        <th>Prioridad</th>
                        <th>Estado</th>
                        <th>Costo</th>
                        <th>Proyecto</th>
                        <th>Encargado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Tarea in vm.listaTareas | filter:buscarTarea">
                        <td>{{Tarea.getnombreTarea()}}</td>
                        <td>{{Tarea.getdescripcionTarea()}}</td>
                        <td>{{Tarea.getfechaAsignacion() | date:'dd MMM yyyy'}}</td>
                        <td>{{Tarea.getprioridad()}}</td>
                        <td>{{Tarea.getestadoTarea()}}</td>
                        <td>${{Tarea.getCosto()}}</td>
                        <td>{{Tarea.getIdProyecto()}}</td>
                        <td>{{Tarea.getNombreUsuario()}}</td>
                        <td>
                            <button class="btn btn-primary" ng-click="vm.modificarTarea(Tarea._id)">Modificar Tarea</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>